[submodule "KlaPredictionModels/DeepKla"]
	path = KlaPredictionModels/DeepKla
	url = https://github.com/linDing-group/DeepKla.git
[submodule "KlaPredictionModels/Auto-Kla"]
	path = KlaPredictionModels/Auto-Kla
	url = https://github.com/tubic/Auto-Kla.git
[submodule "KlaPredictionModels/HybridKla"]
	path = KlaPredictionModels/HybridKla
	url = https://github.com/kongxianzw/HybridKla.git
[submodule "KlaPredictionModels/PCBert-Kla"]
	path = KlaPredictionModels/PCBert-Kla
	url = https://github.com/ZhangHongqi215/PCBert-Kla.git
